.NavigationBar {
  height: 50px;
}

.NavigationBar ul{
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(49, 88, 39);
  width: 100%;
  top: 0;
}

.NavigationBar li{
  float: left;
}

.NavigationBar li:last-child{
  float: right;
}

.NavigationBar li a{
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.NavigationBar li a:hover{
  background-color: rgb(81, 230, 106);
}


/* Toogle Switch */
.NavigationBar .togggleswitch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-top: 10px;
  margin-right: 10px;
}

.NavigationBar .togggleswitch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #003518;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}