

.App-header {
  background-color: rgb(255, 255, 255), 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-border {
  text-align: left;
  border: black 1px solid;
  border-radius: 15px;
  width: auto;
  padding: 0px 40px 40px 40px;
}

.App-kirim {
  border-radius: 15px;
}

.App-border th {
  vertical-align: bottom;
  width: 250px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

